.layout {
    margin: 0;
    font-family: 'Poppins', sans-serif;

    background:
        url("pattern.png"),
        linear-gradient(135deg, #f4d4dc, #61c28d, #a761c2);

    background-size: cover;
    color: white;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}